@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Lekton:regular,italic,700);
body {
  font-family: "Manrope";
}
[class*="-container"] {
  max-width: 1738px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  font-size: 58px;
  font-weight: 700px;
  font-style: normal;
  text-align: center;
  background: blue;
}
header:hover {
  color: blueviolet;
}
.border-block-title {
  box-sizing: border-box;
  margin-bottom: 70px;
  padding-bottom: 100px;
}
.main-block {
  margin-top: 30px;
  margin-left: 75px;
  margin-right: 75px;
}
.mained-title {
  font-family: "Manrope";
  color: black;
  font-style: normal;
  margin-block-end: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}
code {
  padding: 2px 8px;
  border-radius: 3px;
  background-color: #525252;
  color: aliceblue;
}
.main-title {
  display: inline-block;
  font-size: 32px;
  padding: 24px;
  background-color: darkgray;
  border-radius: 14px;
}
.border-block-cards {
  vertical-align: top;
  width: 33%;
  display: inline-block;
  margin-bottom: 20px;
  padding: 30px;
}
.border-main-title {
  background-color: chocolate;
  padding: 30px;
  border-radius: 25px;
  border: 8px;
}
.border-content-1 {
  padding-bottom: 10px;
  font-weight: 800;
  font-style: italic;
  font-size: 30px;
}
.border-main-text {
  font-weight: 400;
  font-style: italic;
}

.border-main-text:hover {
  color: crimson;
}
.block {
  background-color: #000;
  color: white;
  font-size: 20px;
  border: 2px solid green;
  border-radius: 10px;
  padding: 15px;
  max-width: 500px;
  margin: 0 auto;
}
.image {
  display: none;
}
.block:hover .link {
  color: green;
}
.block:hover .image {
  display: block;
}
.border-main-text-1:active {
  color: deeppink;
}
.border-main-text-2:visited {
  color: red;
}
.visited:visited {
  color: red;
}
.section-number-1 {
  max-width: 1920px;
  background-color: white;
  padding-block: 180px;
  padding-bottom: 150px;
}
.pricing-container {
  max-width: 1740px;
}
.pricing-list-block {
  margin-block-end: 50px;
}
.plan-pricing {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 74px;
  background: #4a3aff;
  width: 100%;
  height: 271.17px;
  border-radius: 34px;
  display: inline-block;
}
.text-main {
  font-family: "DM Sans";
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: 95px; /* 107.955% */
  color: #1e1b39;
}
.pricing-block-1 {
  display: inline-block;
  border-radius: 56px;
  background: #f0f0f6;
  max-width: 542.983px;
  padding: 24px;
  padding-bottom: 54px;
}
.pricing-block-1:not(:last-child) {
  margin-right: 40px;
}
.pricing-block-1:hover {
  box-shadow: 0px 0px 28px #17171762;
  transition: box-shadow 0.3s ease-in-out;
}
.text-of-pricing {
  font-family: "DM Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 106.667% */
  text-align: center;
  color: #fff;
  margin-top: 45px;
}
.pricing-title {
  font-family: "DM Sans";
  font-size: 116px;
  font-style: normal;
  font-weight: 700;
  line-height: 120px; /* 103.448% */
  color: #fff;
}
.pricing-text-title {
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 110% */
  color: #fff;
  padding-top: 6px;
  opacity: 0.6;
}
.title-or-price {
  padding-inline-start: 13px;
}
.text-or-price {
  font-family: "DM Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 135.714% */
  color: #1e1b39;
  margin-block-end: 26px;
}
.text-or-price::before {
  content: "";
  width: 36px;
  height: 36px;
  vertical-align: middle;
  margin-inline-end: 14px;
  background: url(../img/circle.svg) 0 0 / 36px no-repeat;
}
.number-container {
  display: flex;
  align-items: center;
}
.section-number-two {
  padding-bottom: 180px;
  max-width: 1920px;
  background-color: white;
  width: 100%;
}
.three-text {
  max-width: 218px;
  font-family: "DM Sans";
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: 95px; /* 107.955% */
  color: #4a3aff;
  text-align: center;
}
.section-or-text-three {
  background-color: rgba(74, 58, 255, 0.1);
  width: 218px;
  height: 218px;
  border-radius: 50%;
  padding: 61px 15px;
  display: inline-block;
  margin-right: 40px;
  vertical-align: middle;
}
.section-title {
  max-width: 685px;
  padding-bottom: 28px;
  display: inline-block;
  width: 100%;
  flex: 0 0 685px;
}
.image-or-section {
  max-width: 88px;
}
.text-or-image {
  font-family: "DM Sans";
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: 95px; /* 107.955% */
  color: #1e1b39;
  padding-bottom: 20px;
}
.discription-section {
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 175% */
  color: #6e6c83;
}
.section-number-three {
  max-width: 1100px;
  padding-left: 110px;
  display: inline-block;
}
.section-three-image {
  padding-bottom: 54px;
  display: inline-block;
}

.research-section {
  padding-bottom: 8px;
  display: inline-block;
  max-width: 629px;
  vertical-align: middle;
}

.text-or-block {
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 110% */
  color: #4a3aff;
}
.text-or-block-1 {
  font-family: "DM Sans";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 128.571% */
  color: #1e1b39;
}
.text-or-block-1::after {
}
.text-or-block-2 {
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 175% */
  color: #6e6c83;
}
.section-number-three > * {
  display: inline-block;
  vertical-align: middle;
}
.section-number-3 {
  padding-block: 60px;
  background-color: #fdf0e9;
}
.agency-body {
  border-radius: 12px;
}
.agency-container {
  max-width: 998px;
}
.agency-text-section {
  max-width: 570px;
  margin-inline: auto;
}
.agency-photo {
  padding-bottom: 74px;
  vertical-align: top;
  max-width: 970px;
}
.agency-outscore {
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  color: #391400;
  padding-bottom: 32px;
}
.agency-digital {
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  color: rgba(57, 20, 0, 0.64);
  padding-bottom: 51px;
}
.agency-ability {
  font-family: Epilogue;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  color: #391400;
  padding-bottom: 35px;
}
.agency-mark {
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  color: rgba(57, 20, 0, 0.64);
  padding-bottom: 34px;
}
.agency-digital-or-text {
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  color: #391400;
  padding-bottom: 32px;
  display: inline-block;
}
.list-lock::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ef6d58;
  vertical-align: middle;
  border-radius: 50%;
  margin-inline-end: 16px;
}
.business-list {
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  color: rgba(57, 20, 0, 0.64);
  padding-bottom: 65px;
}

.service-online {
  font-family: Epilogue;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  color: #391400;
  padding-bottom: 32px;
}
.service-title {
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  color: rgba(57, 20, 0, 0.64);
  padding-bottom: 28px;
}
.marketing-title {
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  color: #391400;
  padding-bottom: 32px;
}

.business-list-1:nth-child() {
}
.business-list-1 {
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  color: rgba(57, 20, 0, 0.64);
  padding-bottom: 32px;
}
.business-title-one {
}
.provide-block {
  border-radius: 6px;
  background: #f9e5da;
  padding: 42px 32px 32px;
}
.provide-main {
}
.provide-main-text {
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  color: #391400;
  background: url(../img/shap.svg) left top / 48px no-repeat;
  padding-left: 80px;
}
.back-block {
  padding-top: 76px;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  color: rgba(57, 20, 0, 0.64);
}
.sect-container {
  padding-top: 180px;
}
.game {
  font-family: "Goldman", sans-serif;
  padding-block: 60px 140px;
  background-color: #ddefe6;
}
.game-title {
  text-align: center;
  color: #4e4c5a;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  margin-block-end: 32px;
}
.game-items {
  width: 1000px;
  height: 1000px;
  background: url(../img/1_game_bg_1.jpg) 0 0 / 100% no-repeat fixed;
  margin-inline: auto;
}
.game-items-start {
  color: #fff;
  font-size: 32px;
  background: linear-gradient(
    225deg,
    rgba(158, 91, 251, 0.898) 0%,
    rgba(254, 167, 48, 0.9009978991596639) 100%
  );
  cursor: pointer;
  max-width: 105px;
}
.game-items-start:hover + .game-item {
  visibility: visible;
}
.game-item:hover + .game-item {
  visibility: visible;
}
.game-item:hover {
  visibility: visible;
}
.game-item {
  background-color: rgba(255, 255, 0, 0.9);
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  visibility: hidden;
}
.game-item-1 {
  margin-left: 30px;
  width: 45px;
  height: 100px;
  padding-block: 40px;
}
.game-item-2 {
  margin-left: 30px;
  width: 145px;
  height: 30px;
  padding-block: 20px;
}
.game-item-3 {
  width: 215px;
  height: 40px;
  margin-left: 175px;
  margin-top: -40px;
  padding-block: 6px;
}
.game-item-4 {
  width: 405px;
  height: 20px;
  margin-left: 390px;
  margin-top: -30px;
  padding-block: 6px;
}
.game-item-5 {
  width: 45px;
  height: 120px;
  margin-left: 750px;
  writing-mode: sideways-lr;
  padding-block: 7px;
}
.game-item-6 {
  width: 45px;
  height: 120px;
  margin-left: 750px;
  writing-mode: sideways-lr;
  padding-block: 7px;
}
.game-item-7 {
  width: 360px;
  height: 30px;
  margin-left: 390px;
  margin-top: -30px;
  padding-block: 6px;
}
.game-item-8 {
  width: 55px;
  height: 180px;
  margin-left: 390px;
  writing-mode: sideways-lr;
  padding-block: 7px;
}
.game-item-9 {
  width: 360px;
  height: 30px;
  margin-left: 30px;
  margin-top: -30px;
  padding-block: 6px;
}
.game-item-10 {
  width: 55px;
  height: 180px;
  margin-left: 30px;
  writing-mode: sideways-lr;
  padding-block: 7px;
}
.game-item-11 {
  width: 25px;
  height: 238px;
  margin-left: 30px;
  writing-mode: sideways-lr;
  padding-block: 7px;
}
