@import url('reset.css');
@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
body {
	font-family: 'Manrope';
}
.main-title {
	color: brown;
	font-size: 44px;
	text-align: center;
	font-weight: 700;
	text-shadow: 1px 1px 7px darkgoldenrod;
	letter-spacing: 25px;
	word-spacing: 5px;
	margin: 50px;
}
.title-info {
	font-size: 38px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%;
	padding-bottom: 14px;
	padding-right: 300px;
	color: #fff;
}
.text-info {
	color: #999;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px;
	padding-bottom: 80px;
	padding-right: 300px;
}
.block-main {
	font-family: 'Manrope', sans-serif;
	overflow: hidden;
	font-size: 18px;
	color: #999;
	background-color: #141414;
	max-width: 2579px;
	padding: 50px;
}
.content-info {
	padding-bottom: 30px;
}
.items-main {
	width: 31%;
	display: inline-block;
	margin-block-end: 20px;
	margin-inline-end: 20px;
	padding-inline: 20px;
	padding-block: 10px;
	border-radius: 10px;
	border: 1px solid var(--Black-15, #262626);
	background: linear-gradient(
			222deg,
			rgba(229, 0, 0, 0.5) -208.03%,
			rgba(229, 0, 0, 0) 41.32%
		),
		#0f0f0f;
}
.text {
	padding-left: 16px;
	padding-top: 16px;
	display: inline-block;
	color: #fff;
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%; /* 36px */
}
.card-text {
	font-family: 'Manrope';

	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	font-style: normal;
}
.item {
	padding: 50px;
}

.images {
	display: inline-block;
}
.cards {
	padding: 50px;
}
.card-info {
	padding-bottom: 30px;
}
.tablet {
	padding-left: 16px;
	padding-top: 16px;
	display: inline-block;
	color: #fff;
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%; /* 36px */
}
.tablet-text {
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	font-style: normal;
}

.smart-info {
	padding-bottom: 30px;
}

.smart-text {
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	font-style: normal;
}
.smart-item {
	padding-left: 16px;
	padding-top: 16px;
	display: inline-block;
	color: #fff;
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%; /* 36px */
}

.laptops-info {
	padding-bottom: 30px;
}
.laptops-item {
	padding-left: 16px;
	padding-top: 16px;
	display: inline-block;
	color: #fff;
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%; /* 36px */
}
.laptops-text {
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	font-style: normal;
}

.gaming-info {
	padding-bottom: 30px;
}

.gaming-item {
	padding-left: 16px;
	padding-top: 16px;
	display: inline-block;
	color: #fff;
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%; /* 36px */
}
.gaming-text {
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	font-style: normal;
}

.vr-info {
	padding-bottom: 30px;
}
.vr-item {
	padding-left: 16px;
	padding-top: 16px;
	display: inline-block;
	color: #fff;
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%; /* 36px */
}
.vr-text {
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	font-style: normal;
}
.info {
	font-family: 'Roboto';
}
.block {
	font-family: 'Roboto';
	max-width: 539px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: auto;
}

.introduce-info {
	font-family: 'Roboto';
	color: #091133;
	font-style: normal;
	font-weight: 500;
	line-height: 1.32;
	font-size: 50px;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.key-1 {
	color: #fff;
	text-align: center;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 500;
	line-height: 1.62;
	border: 2px;
	background: #111b47;
	padding: 5px 0;
	min-width: 169px;
	width: 189px;
	height: 38px;
	margin-inline-end: 30px;
}
.key-2 {
	color: #111b47;
	text-align: center;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 500;
	line-height: 1.66;
	border: 2px solid #091133;
	border-radius: 2px;
	background: #fff;
	padding: 5px 0;
	min-width: 169px;
	width: 189px;
}
.kit {
	padding-bottom: 100px;
	padding-right: 35px;
}
.introduce-text p:not(:last-child) {
	margin-bottom: 16px;
}
.introduce-text {
	width: 540px;
	color: #505f98;
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	padding-bottom: 69px;
}
.design-block {
	font-family: 'Roboto';
	width: 520px;
	margin: auto;
}
.design {
	font-family: 'Roboto';
	color: #091133;
	font-size: 36px;
	font-weight: 500;
	line-height: 1.33;
	max-width: 420px;
	margin-bottom: 16px;
}
.des {
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	color: #6f7cb2;
	padding-bottom: 80px;
}
.items-block {
	max-width: 550px;
	font-family: 'Roboto';
	margin: 0 auto;
}
.item-castle {
	display: inline-block;
	max-width: 270px;
}
.item-icon {
	margin-bottom: 20px;
	max-width: 36px;
}
.item-title {
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px;
	color: #091133;
	margin-bottom: 10px;
}
.item-text {
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	color: #5d6970;
	margin-bottom: 32px;
	margin-right: 30px;
}
